/*#hiddenMenu {z-index: 1;}*/

.selectList > div > hr {height: .1vh}
.selectList > div {font-size: 1.2vw; font-weight: bolder;}
#hiddenMenu {display: flex;justify-content: center;z-index: 1}

#hiddenTable {
    width: 19vw;
    height: 100%;
    background-color: #ffd3d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectList {
    width: 90%;
    height: auto;
    margin: 1vh 0 1vh 0;
}
.selectList > div {
    width: 100%;
    height: auto;
}

#hiddenMenu {
    width: 20vw;
    height: 100%;
    background-color: #eaeaea;
    position: absolute;
    /*z-index: 1;*/
    top: 0;
    transition: right .7s ease-in-out;
}
#hiddenMenu.open {right: 0;}
#hiddenMenu.closed {right: -20vw;}

#region {width: 100%;}
