#appContent {
    width: 100%;
    height: 85%;
    overflow: hidden;
    position: relative;
}


#search {
    position: absolute;
    z-index: 2;
    top: 3vh;
    left: 2.5vw;
    width: 15vw;
    height: 5vh;
    border: solid black 0.4px;
    border-radius: 50px;
}

#location {
    position: absolute;
    z-index: 1;
    bottom: 3vh;
    left: 2.5vw;
    width: 60px;
    height: 60px;
    background: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#location>img {
    width: 40px;
    height: 40px;
}