#hiddenMenu {
    width: 20vw;
    height: 100%;
    background-color: darkturquoise;
    position: absolute;
    z-index: 2;
    top: 0;
    transition: right .7s ease-in-out;
}
#hiddenMenu.open {
    right: 0;
}

#hiddenMenu.closed {
    right: -20vw;
}